body {
  background: url(webback.jpg);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
	float: inline-block;
}

li a {
	display: block;
	text-align: center;
	padding: 14px 16px;
	background-color: #dddddd;
	text-decoration: none;
}

li a:hover {
  background-color: #111;
}
