.wrapper {
    width: 80%;
    display: block;
    padding: 10px;
    margin-top: 1px !important;
    margin: auto;
    
    border: 0.15em solid #d65d0e;
    background-color: rgb(40,40,40,0.75)
    /*background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);*/
  }

.input {
    
    display: inline-block;
    justify-content: flex-start;
    line-height: 2em;
    padding: 0.5rem;
    
    

}
.output {
    
    display: inline-block;
    justify-content: flex-end;
    line-height: 2em;
    padding: 0.5rem;
}

.inpName {
    padding-right: 1rem;
    color: #ebdbb2;
}
.title_binom {
    color: #ebdbb2;
    width:50%;
    margin: 5% auto;
    height:50%;
    background-color: rgb(40,40,40,0.75);
    border: 0.015em solid #cc241d;
}

input {
    background: transparent;
  
  outline: none;
  min-height: 20px;
  padding: 0;
  box-shadow: none;
  display: block;
  border: 2px solid #d65d0e;
  overflow: hidden;  
  transition: height 0.2s ease;
  width:5rem;
  color: white;
}